<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Web that provide list of cafe and restaurant" />
    <meta name="keywords" content="Spicy Heat" />
    <meta name="theme-color" content="#dc262a" />
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#dc262a" />
    <meta name="msapplication-TileImage" content="assets/icon/mstile-144x144.png" />
    <title> Spicy Heat </title>
    <link
      rel="preload"
      crossorigin="anonymous"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <link
      rel="preload"
      crossorigin="anonymous"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/all.css"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <noscript>
      <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/all.css"
      />
      <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      />
    </noscript>
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/icon/apple-touch-icon-114x114.png" />
    <link rel="icon" type="image/png" alt="favicon-128" href="assets/icon/favicon-128.png" sizes="128x128" />
    <link rel="manifest" href="manifest.json">
</head>
<body>
	<header class="app-bar">
		<div class="app-bar__menu">
			<button id="hamburgerButton">☰</button>
		</div>
		<div class="app-bar__brand">
		 <a href="/" id="logo">
      <img class="app-bar__logo" src="assets/images/logo/logo.png" alt="logo-spicy-heat" srcset="" widht="144px" height="41px">
    </a>
		</div>
		<nav id="navigationDrawer" class="app-bar__navigation">
			<ul>
				<li class="app-bar__link"><a href="/"> Home </a></li>
				<li class="app-bar__link"><a href="#/favorite"> Favorite </a></li>
				<li class="app-bar__link"><a href="https://github.com/medival/" rel="norefferer" target="_blank"> About Us </a></li>
			</ul>
		</nav>
	</header>
    <a href="#main" class="skip-to-content" tabindex="1"> Skip to Content <i class="fa fa-angle-double-right"></i> </a>
	<main id="mainContent">
	</main>
	 <footer>
        <div class="footer__content">
            <p> Crafted by me to everyone with spirit!</p>
            <p class="footer__copyright"> Copyright &copy; 2021 - Spicy Heat </p>
            <div class="footer__social-media-icons">
                <a href="#" class="social-icons social-icon-twitter">
                    <i class="fa fa-lg fa-twitter"></i>
                </a>
                <a href="#" class="social-icons social-icon-linkedin">
                    <i class="fa fa-lg fa-linkedin"></i>
                </a>
                <a href="https://github.com/medival"  rel="noreferrer" target="_blank" class="social-icons social-icon-github">
                    <i class="fa fa-lg fa-github"></i>
                </a>
            </div>
        </div>
    </footer>
</body>
</html>